/*-- scss:defaults --*/

// Fonts
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=IM+Fell+DW+Pica&family=IM+Fell+English&display=swap');

// Colors
$light-sage-green: #D1D9CE;
$dark-sage-green: #98A08D;
$navblue: #356d9f;
$purple: #AE8BD1;
$dark-gray: #292929; 
$light-gray: #f0f0f0;

// Base document colors
$navbar-bg: $navblue; // navbar
$navbar-fg: $white; // navbar foreground elements
$navbar-hl: $dark-gray; // highlight color when hovering over navbar links
$body-bg: $white; // page background 
$body-color: $black; // page text 
$footer-bg: $navblue; // footer 
$link-color: $dark-gray; // hyperlinks 

// Inline code
$code-bg: $light-gray; // inline code background color
$code-color: $dark-gray; // inline code text color

// Code blocks
$code-block-bg: $light-gray; // code block background color
